<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv_1_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,43}</string>
                <key>textureRect</key>
                <string>{{133,40},{86,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_1_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,45}</string>
                <key>spriteSourceSize</key>
                <string>{87,45}</string>
                <key>textureRect</key>
                <string>{{0,84},{87,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_1_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,34}</string>
                <key>spriteSourceSize</key>
                <string>{81,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{81,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_2_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,38}</string>
                <key>spriteSourceSize</key>
                <string>{90,38}</string>
                <key>textureRect</key>
                <string>{{246,0},{90,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_2_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,46}</string>
                <key>spriteSourceSize</key>
                <string>{84,46}</string>
                <key>textureRect</key>
                <string>{{87,84},{84,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_2_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,43}</string>
                <key>spriteSourceSize</key>
                <string>{89,43}</string>
                <key>textureRect</key>
                <string>{{219,40},{89,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_3_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,37}</string>
                <key>spriteSourceSize</key>
                <string>{79,37}</string>
                <key>textureRect</key>
                <string>{{167,0},{79,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_3_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,37}</string>
                <key>spriteSourceSize</key>
                <string>{86,37}</string>
                <key>textureRect</key>
                <string>{{81,0},{86,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_3_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,42}</string>
                <key>spriteSourceSize</key>
                <string>{80,42}</string>
                <key>textureRect</key>
                <string>{{0,40},{80,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_4_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,40}</string>
                <key>textureRect</key>
                <string>{{336,0},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_4_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,51}</string>
                <key>spriteSourceSize</key>
                <string>{65,51}</string>
                <key>textureRect</key>
                <string>{{241,84},{65,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_4_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,44}</string>
                <key>spriteSourceSize</key>
                <string>{58,44}</string>
                <key>textureRect</key>
                <string>{{308,40},{58,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_5_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,40}</string>
                <key>spriteSourceSize</key>
                <string>{59,40}</string>
                <key>textureRect</key>
                <string>{{397,0},{59,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_5_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,44}</string>
                <key>spriteSourceSize</key>
                <string>{82,44}</string>
                <key>textureRect</key>
                <string>{{366,40},{82,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_5_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,51}</string>
                <key>spriteSourceSize</key>
                <string>{79,51}</string>
                <key>textureRect</key>
                <string>{{390,84},{79,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_6_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,47}</string>
                <key>spriteSourceSize</key>
                <string>{70,47}</string>
                <key>textureRect</key>
                <string>{{171,84},{70,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_6_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,51}</string>
                <key>spriteSourceSize</key>
                <string>{84,51}</string>
                <key>textureRect</key>
                <string>{{306,84},{84,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_6_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,43}</string>
                <key>spriteSourceSize</key>
                <string>{53,43}</string>
                <key>textureRect</key>
                <string>{{80,40},{53,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttonAssest.png</string>
            <key>size</key>
            <string>{469,135}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc99a9fde412a146c9c185d679f66776:0e259907798ca0bc6bf7ad7a62b3c902:fb6a336289cbd16df2c8988aa2b32454$</string>
            <key>textureFileName</key>
            <string>buttonAssest.png</string>
        </dict>
    </dict>
</plist>
